.budget {
    
    .title {
        display: inline-block;
        width: 33%;
    }
    .progress-bar-container {
        position: relative;
        height: 20px;
        background-color: #eee;
        width: 65%;
        float: right;
        
        .amount {
            position: absolute;
            top: 0;
            right: 0;
        }
        
        .progress-bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: #FF7070;
            
            .spent {
                float: right;
            }
        }
    }
}

.income {
    
    .title {
        display: inline-block;
        width: 33%;
    }
    .progress-bar-container {
        position: relative;
        height: 20px;
        background-color: #eee;
        width: 65%;
        float: right;
        
        .amount {
            position: absolute;
            top: 0;
            right: 0;
        }
        
        .progress-bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: #FF7070;
        }
    }
}
