.list-accounts {
    .account {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: @color-account-background;
        margin-bottom: 10px;
        
        a {
            color: inherit;
            text-decoration: none;
        }
        span {
            display: block;
        }
        .account-name {
            font-weight: bold;
        }
        .account-description {
            font-style: italic;
        }
        .account-balance {
            font-weight: 300;
            float: right;
            
            span {
                text-align: right;
                
                &.positive {
                    color: green;
                }
                &.negative {
                    color: red;
                }
            }
        }
    }
    &.account::last-child {
        margin-bottom: 0;
    }
}

.budget, .income {
    width: 100%;
    height: 30px;
    display: table;
    
    .title {
        display: table-cell;
        width: 20%;
        line-height: 20px;
    }
    
    .progress {
        display: table-cell;
        width: 100%;
    }
    
    .actions {
        display: table-cell;
        width: 10%;
        text-align: right;
    }
}
