/*
 * Budgeck
 *
 * Copyright 2016, Clément Tessier
 *
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&subset=latin');

body *:not(.icon) {
    font-family: 'Open Sans', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}

.main.container {
    padding-top: 5em;
}

/* Make multi-level selection dropdown visible */
.ui.selection.dropdown .menu {
    overflow: visible !important;
}

/* Add spacing under pagination links */
.pagination {
    margin-bottom: 1em !important;
}
