/*
 * Budgeck
 *
 * Copyright 2016, Clément Tessier
 *
 */

.main.container {
    padding-top: 5em;
}

/* Make multi-level selection dropdown visible */
.ui.selection.dropdown .menu {
    overflow: visible !important;
}

/* Add spacing under pagination links */
.pagination {
    margin-bottom: 1em !important;
}
