/* Tabs
 *--------------------------------------------------------*/
ul.tabs {
    margin-bottom: 15px;
}

ul.tabs > li {
    display: block;
    border: 1px solid lightgrey;
    border-bottom: none;
    width: 100%;
    height: 100%;
}

ul.tabs > li:last-child {
    border-bottom: 1px solid lightgrey;
}

ul.tabs > li.active > a {
    border-left: 5px solid #6ec1f3;
}

ul.tabs > li.active ul li.active a {
    border-left: 5px solid lightgrey;
}

ul.tabs > li.active {
    border-left-width: 0;
}

ul.tabs > li.active ul li a {
    border-left: 1px solid lightgrey;
}

ul.tabs > li.active a {
    padding-left: 11px;
}

ul.tabs a {
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #565a5c;
}

ul.tabs a:hover {
    background: #eee;
}

ul.tabs li ul,
ul.tabs li.active ul {
    list-style-type: none;
    
    li a {
        padding: 5px 15px;
        padding-left: 30px;
    }
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

ul.tabs-horizontal {
    position: relative;
    margin-bottom: -1px;
}

ul.tabs-horizontal li {
    float: left;
    list-style-type: none;
    border: 1px solid lightgrey;
    border-bottom: none;
    width: auto;
}

ul.tabs-horizontal li:not(:first-child) {
    border-left: none;
}

ul.tabs-horizontal li.active {
    border-top: 2px solid #6ec1f3;
    border-bottom: none;
}

ul.tabs-horizontal a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 35px;
    text-decoration: none;
    color: #565a5c;
}

ul.tabs-horizontal a:hover {
    background: #eee;
}
