.transaction {
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #ededed;

    div {
        display: inline-block;
    }

    &.awaiting {
        font-weight: 400;
    }

    .transaction-date {
        width: 15%;
    }
    .transaction-title {
        width: 45%;
    }
    .transaction-amount {
        width: 15%;
        text-align: right;
        margin-right: 5%;
    }
    .transaction-actions {
        width: 17%;
        text-align: right;
    }

    &.expense .transaction-amount {
        color: red;
    }
    &.income .transaction-amount {
        color: green;
    }
}

.month-separator {
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
}
