/* Colors
 *--------------------------------------------------------*/
@color-main-background: #fefefe;
@color-default-font: #565a5c;
@color-header-background: #3ea9e6;
@color-header-logo: #ffffff;
@color-header-link: #ffffff;
@color-header-link-hover: #ffffff;
@color-header-link-hover-background: #6ec1f3;
@color-header-link-active-background: #6ec1f3;
@color-header-link-active: #ffffff;
@color-content-background: #ffffff;
@color-footer-font: #99a0a3;
@color-block-border: #eeeeee;

@color-account-background: #f5f6f7;
